<div class="panel-gauge">
  <span id="scale">
    <div style="width: 100% !important;">
      <h5 class="text-center" style="color: aliceblue; margin-bottom:12px;">VELOCIDAD</h5>
      <div class="row">
        <div class="col-md-6" style="margin-bottom: -30px;">
          <input type="text" value="{{latitudGPS}}" class="mb-1" id="latitud" style="width: 107px;">
          <h6 style="color: aliceblue; margin-top:-1px; text-align:left">Latitud</h6>
        </div>
        <div class="col-md-6 text-end" style="margin-bottom: -30px;">
          <input type="text" value="{{longitudGPS}}" class="mb-1" id="longitud" style="width: 107px">
          <h6 style="color: aliceblue; margin-top:-1px">Longitud</h6>
        </div>
      </div>
    </div>
  </span>
</div>
